/* DEFAULT */

[theme=default].mobile-view game #timer timer {
    color: white;
    text-shadow: 0 0 1px black, 0 0 3px black, 0 0 5px black;
}

[theme=default] settings .wrappers {
    background-color: whitesmoke;
}

[theme=default] about .content {
    color: white;
    text-shadow: 0 0 2px #000, 0 0 4px #000
}

[theme=default] about .contentCol h4, [theme=default] about .contentCol h5 {
    color: sandybrown;
    filter: brightness(1.5);
}

[theme=default] about .content a {
    color: sandybrown;
    filter: brightness(1.5) contrast(2);
}

[theme=default] footer span {
    color: whitesmoke;
    ;
}

[theme=default] footer a {
    color: #d39e00
}

[theme=default] footer a:hover, body.default footer a:focus {
    color: #ffc107;
}

/* OPENSKY */

[theme=opensky] home button#start {
    background: #f9f5f2;
}

[theme=opensky] game #timer>* {
    background: #313437;
    color: #FFF
}

[theme=opensky].mobile-view game #timer timer {
    color: black;
}

[theme=opensky].mobile-view game #timer restart {
    z-index: 10;
    background: #dee2e6;
    filter: drop-shadow(1px 1px 2px black);
}

[theme=opensky] settings .wrappers {
    background: #efefef;
}

[theme=opensky] modal {
    background: #FFF;
}

/* MOUNTAINS VALLEY */

[theme=mountainsvalley] home button#start {
    background: #f3f1e5;
}

[theme=mountainsvalley] game #timer>* {
    background: #343a40;
    color: #FFF;
}

[theme=mountainsvalley].mobile-view game #timer restart {
    border-color: whitesmoke;
}

[theme=mountainsvalley].mobile-view game #timer restart button{
    color: #FFF;
}

[theme=mountainsvalley] settings .wrappers {
    background: #efefef;
}

[theme=mountainsvalley] modal {
    background: #e4e5df;
}

[theme=mountainsvalley] footer span {
    color: #FFF;
}

[theme=mountainsvalley] footer a {
    color: #73b7ff;
}

/* BEACH */

[theme=beach] .heading {
    color: wheat;
    text-shadow: 0 0 5px #000;
}

[theme=beach] header h1.title {
    color: #FFF;
    text-shadow: 1px 1px 5px #000;
}

[theme=beach] header nav button.trigger-button {
    color: #FFF;
}

[theme=beach] header profile {
    color: white;
    text-shadow: 0 0 2px #000, 0 0 4px #000;
}

[theme=beach] header profile .profile .user-avatar-wrap {
    border-color: #FFF;
}

[theme=beach] home button#start {
    background: #f9f5f2;
}

[theme=beach] game #timer>*, [theme=beach] modal {
    background: #FFF;
}

[theme=beach].mobile-view game #timer restart {
    z-index: 10;
    color: black;
    background: #FFF;
    filter: drop-shadow(1px 1px 2px black);
}

[theme=beach] settings .wrappers {
    background: #efefef;
}

[theme=beach] about .contentCol {
    color: white;
    text-shadow: 0 0 2px #000, 0 0 4px #000;
}

[theme=beach] about .contentCol h4, [theme=beach] about .contentCol h5 {
    color: wheat
}

[theme=beach] about .contentCol a {
    color: yellow;
}