body[theme="1"] settings .wrappers {
    background: bisque;
}

body[theme="1"] about .content {
    color: white;
    text-shadow: 0 0 2px #000, 0 0 4px #000
}

body[theme="1"] about .contentCol h4, 
body[theme="1"] about .contentCol h5 {
    color: sandybrown;
    filter: brightness(1.5);
}

body[theme="1"] about .content a {
    color: sandybrown;
    filter: brightness(1.5) contrast(2);
}

body[theme="1"] footer span {
    color: whitesmoke;
    ;
}

body[theme="1"] footer a {
    color: #d39e00
}

body[theme="1"] footer a:hover, 
body[theme="1"] footer a:focus {
    color: #ffc107;
}

/* OPENSKY */

body[theme="2"] home button#start {
    background: #f9f5f2;
}


body[theme="2"] settings .wrappers {
    background: #f9f8f4 !important;
}

body[theme="2"] modal {
    background: #FFF;
}



/* BEACH */

body[theme="3"] .heading {
    color: #fff2dc;
    text-shadow: 0 0 5px #000;
}

body[theme="3"] header h1.title {
    color: #fff2dc;
    text-shadow: 1px 1px 5px #000;
}

body[theme="3"] header nav button.trigger-button {
    color: #fff2dc;
}

body[theme="3"] header profile {
    color: #fff2dc;
    text-shadow: 0 0 2px #000, 0 0 4px #000;
}

body[theme="3"] header profile .profile .user-avatar-wrap {
    border-color: #fff2dc;
}

body[theme="3"] home button#start {
    background: #fff2dc;
}

body[theme="3"] settings .wrappers {
    background: #fff2dc;
}

body[theme="3"] about .contentCol {
    color: white;
    text-shadow: 0 0 2px #000, 0 0 4px #000;
}

body[theme="3"] about .contentCol h4, 
body[theme="3"] about .contentCol h5 {
    color: #fff2dc
}

body[theme="3"] about .contentCol a {
    color: yellow;
}


/* MOUNTAINS VALLEY */

body[theme="4"] home button#start {
    background: #f3f1e5;
}


body[theme="4"] settings .wrappers {
    background: #efefef;
}

body[theme="4"] modal {
    background: #e4e5df;
}

body[theme="4"] footer span {
    color: #FFF;
}

body[theme="4"] footer a {
    color: #73b7ff;
}